
/*Link Style*/

a{
color: #C0392B;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: white;
}

/*Header Style*/

.header-local{
margin-top: -10px;
margin-left: -8px;
}
/*----------------------------------------------------------------------*/

/*Logo Style*/

.logo-local{
margin-top: -5px;
margin-left: -8px;
width: 1920px;
height: 210px;
background-color: black;
background-image: url('logo.jpg');
background-repeat: no-repeat;
background-position: center;
}

/*----------------------------------------------------------------------*/

/*Menu Style*/

.font-menu{
font-family:Tungsten Bold;
font-size: 30px;
color: #C0392B;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: white;
}
/*----------------------------------------------------------------------*/

/*Title Style*/

.font-title{
font-family:Tungsten Bold;
font-size: 80px;
color: #d1b6a1;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
}
/*----------------------------------------------------------------------*/

/*Subtitle Style*/

.sub-title{
font-family: Tungsten Bold;
font-size: 60px;
color:#d1b6a1;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
}
/*----------------------------------------------------------------------*/

/*Content Style*/

.content{
font-family:Tungsten Bold;
font-size: 35px;
color: #d1b6a1;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
/*----------------------------------------------------------------------*/


/*Table Style*/

.table-style{
border-width: 5px;
border-color: #d1b6a1;
border-style: solid;
}

/*----------------------------------------------------------------------*/

/*Border Video*/

.border-video{
border-style: solid;
border-width: 10x;
border-color: red;
}

/*----------------------------------------------------------------------*/



/*Baseboard Style*/

.baseboard{
font-family:Tungsten Bold;
font-size: 65px;
margin-bottom: -20px;
margin-left: -10px;
color: #C0392B;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: white;
width: 1920px;
height: 377px;
background-color: black;
}
/*----------------------------------------------------------------------*/


